* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    padding: 0px 12%;
}

.logo {
    margin: 20px;
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.header-right-menu ul {
    display: flex;
    margin: 20px;
    gap: 20px;
}

.header-right-menu .about-me {
    color: rgb(255, 36, 36);
    font-weight: bold;
}

.header-right-menu .my-crew {
    color: rgb(32, 205, 32);
    font-weight: bold;
}

.header-right-menu .contact-me {
    color: yellow;
    font-weight: bold;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.body {
    display: flex;
    padding: 0px 12%;
    gap: 35px;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url(image/rainbow-bg2.png);
    background-position: center;
    background-size: cover;
    
}

@keyframes spin{
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}	
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 500px;
}

.main-text p {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    padding-left: 28px;
    padding-right: 28px;
    border-radius: 14px;
    border: none;
    background-color: rgb(7, 123, 255);
    color: white;
    font-weight: 600;
}

.main-image img {
    width: 500px;
    height: 250px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.random-info {
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 24px;
}

.body-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fact-box-container {
    display: flex;
    padding: 0px 12%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.fact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fact-box p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 100px;
    width: 250px;
}

.square {
    background-color: lightskyblue;
    width: 160px;
    height: 160px;
    border-radius: 80px;
    text-align: center;
    animation: spin 5s linear infinite;
}

.body-quote {
    background-image: url(image/rainbow-bg2.png);
    height: 300px;
    padding: 0px 12%;
    padding-bottom: 50px;
    background-position: center;
    background-size: cover;
}

.main-quote {
    padding-top: 100px;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    color: white;
}

.author {
    margin-top: 30px;
    text-align: end;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.cta-container {
    display: flex;
    padding: 0px 12%;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin: 80px 0px;
}

.signup-box {
    background-image: url(image/rainbow-bg1.png);
    background-position: center;
    background-size: cover;
    display: flex;
    padding: 80px 200px;
    border-radius: 20px;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.cta-left {
    color: white;
}

.cta-left h2 {
    margin-bottom: 10px;
}

.cta-right button {
    background-color: rgb(53, 53, 254);
    width: 100px;
}

.footer {
    background-color: rgb(0, 0, 0);
    padding: 30px;
    display: flex;
    justify-content: center;
}

.footer p {
    color: white;
}